## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

## NuGet
*.nupkg
*.snupkg
packages/
project.lock.json

## ASP.NET
wwwroot/lib/

## OS
.DS_Store
Thumbs.db
